.bg_score {
    background:#e8ecee;
  }
 
.card {
    margin-top: 60px;
    background-color: #cae4c2;
    width: 78em;
    height: 480px;
}

.card-title {
  font-family: 'Montserrat', sans-serif;
  color: #61935f;
  margin-left: 55px;
}

.btn{
  margin-right: 30px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top:120px;
  border-color: #61935f;
  background-color: #61935f;
  color: #fcfaf9;
  border-radius: 30px;
  font-family: 'Quicksand', sans-serif;
}
.isyaratku{
  margin-top:15px;
  margin-left: 15px;
  font-family: 'Cinzel', serif;
  color: #f0bc68;
}